@tailwind base;

@layer base {
  section {
    &:last-child {
      .grid-cards {
        @apply lg:pb-52;
      }
    }
  }
  body {
    @apply font-sans text-neutral text-base h-svh flex flex-col min-h-screen leading-tight;
  }

  .scroll-fix {
    @apply flex flex-col min-h-screen overflow-x-hidden;

    &.scroll-fix-stories {
      @apply min-h-0;
      
      .main-footer {
        @apply z-30;
      }
    }
  }

  .app-control {
    @apply xl:hidden;
  }

  /* typography */
  a {
    @apply transition-all;
  }

  p {
    @apply mb-2;
  }

  .mini-info {
    @apply inline-flex gap-2 items-start justify-start;

    svg,
    img {
      @apply min-w-7;
    }
  }

  .cms-image {
    img {
      @apply max-w-full object-cover rounded-lg;
    }
  }

  .text-small {
    @apply text-xs text-neutral-light;
  }

  .text-label {
    @apply text-sm text-neutral mb-2 block;

    &.text-label--v2 {
      @apply font-medium text-neutral-light;
    }
  }

  svg {
    @apply m-auto;
  }

  .p-small {
    @apply text-sm text-neutral-light block;
  }

  .date-small {
    @apply text-xs text-neutral-light;
  }

  .title-base {
    @apply text-base font-bold text-brand tracking-tight leading-tight;
  }

  .title-small {
    @apply text-base md:text-lg font-semibold tracking-tight;
  }

  .title-box {
    @apply text-lg lg:text-custom-xxl font-semibold tracking-tight flex gap-2 items-center;

    &.title-box--link {
      @apply w-full text-brand font-medium;

      button {
        @apply flex justify-between items-center gap-5 w-full;
      }
    }
  }

  .title-med {
    @apply text-custom-xxl md:text-xl font-medium flex align-middle justify-start gap-2 tracking-tight leading-tight;

    &.title-med--accent {
      @apply text-accent-dark font-normal;
    }
  }

  .title-big {
    @apply text-custom-xxl sm:text-xl md:text-2xl font-semibold flex align-middle justify-start gap-2 tracking-normal leading-none mb-3;
  }

  .lead {
    @apply text-lg md:text-custom-xxl align-bottom;

    .title-big {
      @apply inline-block;
    }
  }

  .pretitle {
    @apply pl-0 mb-1;
  }

  .subtitle-small {
    @apply text-xs font-semibold tracking-wider;

    &.subtitle-small--accent {
      @apply text-accent-dark;
    }

    &.date {
      @apply uppercase text-neutral-light font-normal;
    }
  }

  .list-legal {
    @apply flex gap-0;

    li {
      @apply border border-t-0 border-l-0  border-b-0;

      a {
        @apply px-1 md:px-3 block text-center text-xs md:text-sm;
      }

      &:last-child {
        @apply border-r-0;
      }
    }
  }

  .list-columns {
    @apply flex flex-col gap-3;
  }

  blockquote {
    @apply p-5 bg-neutral-bg mb-5 border-l-4 rounded-tr-lg rounded-br-lg md:rounded-none;

    cite {
      @apply font-semibold block mb-3 not-italic;
    }

    p {
      &:last-child {
        @apply mb-0;
      }
    }

    &.cite {
      @apply bg-accent-bg/50 border-accent-dark text-accent-dark;
    }

    &.blockquote-small {
      @apply text-sm;
    }
  }

  .link {
    @apply transition-all text-brand-lighter hover:text-brand-light underline hover:no-underline;

    &.link-small {
      @apply text-sm;
    }

    &.link-ghost {
      @apply text-neutral-light hover:text-neutral;
    }

    &.link-dark {
      @apply text-neutral;
    }

    &.link-danger {
      @apply text-danger-dark hover:text-danger;
    }

    &.link-accent {
      @apply text-accent-dark hover:text-accent;
    }

    &.active {
      @apply text-accent;
    }

    &.link-icon {
      @apply flex gap-2 items-center;
    }
  }

  .inline-list {
    @apply flex gap-3;

    &.inline-list--small {
      @apply gap-1;
    }
  }

  .form-list {
    @apply flex flex-col md:flex-row gap-5 mb-3;
  }

  .thumb {
    @apply rounded-md;
  }

  /* grid */
  .container {
    @apply max-w-screen-xl mx-auto px-5;

    &.container-superaula {
      @apply pt-3;

      @media screen and (max-width: 1600px) {
        max-width: 100%;
      }
    }
  }

  .form-block {
    @apply py-5;
  }

  .grid {
    @apply gap-3 lg:gap-5;

    .column {
      @apply h-full;

      .column-header {
        @apply flex pb-3;

        #save-control {
          @apply mr-2 ml-auto;
        }
      }

      .card-item {
        @apply max-w-full;
      }

      &.column-row {
        @apply flex flex-row gap-3 justify-start items-center !important;

        .text-label {
          @apply mb-0;
        }

        .dropdown {
          width: auto;
        }
      }

      &.column-center {
        @apply flex flex-wrap justify-center;
      }
    }

    &.form-row {
      @apply mb-5;

      .column {
        @apply flex flex-wrap items-end;
      }

      &:last-child {
        @apply mb-0;
      }
    }

    &.grid-fluid {
      @apply transition-all relative;
    }

    &.grid-superaula {
      @apply transition-all gap-0 h-full;

      .grid-superaula--content {
        @apply flex flex-col w-full transition-all;

        &.grid-superaula--content---video {
          @apply h-full bg-neutral-dark bg-opacity-95 justify-center items-center;

          .container {
            @apply flex justify-center items-center h-full mx-auto;

            iframe {
              @apply w-full lg:w-auto;
            }
          }
        }

        .grid-superaula--content---slider {
          @apply max-h-[600px] flex justify-center items-center transition-all duration-300 ease-in-out relative;

          @media screen and (max-width: 1600px) {
            max-height: auto;
          }

          @media screen and (max-width: 767px) {
            max-height: inherit;
            height: auto;
          }

          .splide__track {
            @apply max-h-[600px];

            @media screen and (max-width: 1600px) {
              max-height: auto;
            }
  
            @media screen and (max-width: 767px) {
              max-height: inherit;
              height: auto;
            }
          }

          .grid-superaula--content---slider-data {
            @apply w-full h-full;
          }
          .container {
            @apply h-full flex flex-col justify-center;
          }

          &.grid-superaula--content---slider---disabled {
            @apply h-0 overflow-hidden;
          }
        }

        .grid-superaula--content---tabs {
          @apply h-auto;
        }
      }

      .grid-superaula--sidebar {
        @apply transition-all duration-300 ease-in-out bg-neutral-bg overflow-y-auto;

        .btn-sidebar-control {
          @apply fixed right-0 mt-4 mr-3 z-50;
        }

        &.grid-superaula--desktop {
          @apply hidden lg:block;

          &.grid-superaula--sidebar---active {
            @apply w-96;
          }

          &.grid-superaula--sidebar---disabled {
            @apply w-0 overflow-hidden;
          }
        }

        &.grid-superaula--mobile {
          @apply block lg:hidden relative;

          &.grid-superaula--sidebar---active {
            @apply h-auto;
          }

          &.grid-superaula--sidebar---disabled {
            @apply h-14 overflow-hidden;
          }

          .btn-sidebar-control {
            @apply absolute top-0 mt-3;
          }
        }

        &.grid-superaula--sidebar---disabled {
          .btn-sidebar-control {
            svg {
              transform: rotate(45deg);
            }
          }
        }

        .grid-superaula--sidebar---content {
          @apply p-0;

          .grid-superaula--sidebar---header {
            @apply p-5;
          }
        }
      }

      &.grid-superaula--streaming {
        @apply h-auto lg:h-full lg:max-h-[600px];

        .grid-superaula--sidebar {
          @apply  overflow-y-visible;

          &.grid-streaming--sidebar {
            @apply bg-neutral-dark relative;

            .btn-sidebar-control {
              @apply absolute lg:fixed lg:hidden;
            }

            .grid-superaula--sidebar---content {
              @apply h-auto lg:h-full px-3 lg:px-0;

              .fix-height {
                @apply h-full;
              }

              .grid-superaula--sidebar---header {
                @apply lg:bg-neutral text-white border-b lg:border-none border-neutral pl-3 lg:pl-5;

                .title-base {
                  @apply text-white;
                }
              }
            }

            &.grid-superaula--desktop {
              @apply block;
              
              @media screen and (max-width: 1600px) {
                width: 100%;
              }
            }
          }
        }
      }
    }

    &.grid-superaula--item {
      @apply gap-10;
    }
  }

  .panel {
    @apply w-full py-5 md:py-7 lg:py-12 relative;

    .panel-header {
      @apply flex justify-between items-center pb-5;

      .btn {
        @apply m-0;
      }

      .title-med {
        @apply text-lg md:text-xl;
      }
    }
    .panel-body {
      .panel-body--filter {
        .form-block {
          @apply pt-0;
        }
      }
    }

    &.panel-bg {
      @apply lg:py-16;

      .panel-header {
        @apply lg:pb-10;
      }
    }
    &.bg-light {
      @apply bg-neutral-bg;

      .splide {
        &::before {
          @apply bg-gradient-to-r from-neutral-bg to-transparent;
        }

        &::after {
          @apply bg-gradient-to-l from-neutral-bg to-transparent;
        }

        .splide__track {
          &::after,
          &::before {
            @apply bg-neutral-bg;
          }
        }
      }
    }
    &.bg-dark {
      @apply bg-brand;

      .panel-header {
        @apply text-white;

        .title-med {
          svg {
            path {
              @apply fill-white;
            }
          }
        }
      }
      .splide {
        &::before {
          @apply bg-gradient-to-r from-brand to-transparent;
        }
        &::after {
          @apply bg-gradient-to-l from-brand to-transparent;
        }
        .splide__track {
          &::after,
          &::before {
            @apply bg-brand;
          }
        }

        .splide__arrows {
          .splide__arrow {
            @apply bg-accent hover:bg-white;

            svg {
              path {
                @apply fill-brand;
              }
            }

            &:hover {
              svg {
                path {
                  @apply fill-accent;
                }
              }
            }
          }
        }
      }
      .card {
        &.card-stories {
          .card-body {
            .card-title {
              @apply text-white;
            }

            .badge-default {
              @apply border-transparent text-white bg-neutral-dark;
            }
          }
        }
      }
    }
    &.bg-darken {
      @apply bg-brand-dark;

      .panel-header {
        @apply text-white;

        .title-med {
          svg {
            path {
              @apply fill-white;
            }
          }
        }
      }
      .splide {
        &::before {
          @apply bg-gradient-to-r from-brand-dark to-transparent;
        }
        &::after {
          @apply bg-gradient-to-l from-brand-dark to-transparent;
        }
        .splide__track {
          &::after,
          &::before {
            @apply bg-brand-dark;
          }
        }

        .splide__arrows {
          .splide__arrow {
            @apply bg-accent hover:bg-white;

            svg {
              path {
                @apply fill-brand-dark;
              }
            }

            &:hover {
              svg {
                path {
                  @apply fill-accent;
                }
              }
            }
          }
        }
      }
      .card {
        &.card-stories {
          .card-body {
            .card-title {
              @apply text-white;
            }

            .badge-default {
              @apply border-transparent text-white bg-neutral-dark;
            }
          }
        }
      }
    }
    &:hover {
      z-index: 5000;
    }
    &.panel-full {
      @apply pt-0 pb-0 z-[7000] md:z-10 h-full;

      .container {
        @apply relative h-full;
        @media (max-width: 768px) {
          max-width: inherit;
          padding-left: 0;
          padding-right: 0;
        }

        .panel-full--header {
          @apply fixed top-0 left-0 right-0 z-[9000] flex justify-between bg-gradient-to-b from-black/75 to-transparent pb-5;

          .btn-panel-full--back {
            svg {
              path {
                @apply fill-white;
              }
            }
          }

          .navbar-brand {
            @apply flex  items-center gap-2 pr-5;

            img {
              @apply max-h-3 w-auto;
            }

            span {
              @apply text-accent text-sm border-l border-accent pl-2;
            }
          }
        }
      }
    }
    &.panel-user {
      @apply pt-0 pb-5 lg:py-7 -mt-3 lg:mt-0;
    }
    &.panel-small {
      @apply pt-3;
    }
  }

  main {
    @apply flex-grow pt-[54px] xl:pt-[72px];

    &.bg-light {
      @apply bg-neutral-bg;
    }

    &.bg-light--desktop {
      @apply lg:bg-neutral-bg;
    }

    &.main-aula {
      @apply pt-[88px] md:pt-[52px] xl:pt-[72px];
    }
  }

  .chat-panel--overlay {
    @apply absolute bottom-0 top-0 left-0 lg:left-[calc(100%+15px)] right-0 w-full bg-black/80 p-5 pt-14 md:pt-0 md:p-0 z-30;

    .box-chat--stories {
      @apply h-full;
    }
  }

  .main-header {
    @apply border bg-white border-b-neutral-lighter fixed top-0 w-full z-[6000];

    .navbar {
      @apply flex justify-between items-center items-center py-1.5 xl:py-3;

      .navbar-brand {
        @apply flex items-center gap-2 flex-col md:flex-row;

        span {
          @apply text-accent text-base md:text-custom-xxl md:border-l border-accent pl-2;
        }
      }

      .navbar-group {
        @apply flex gap-5 items-center;

        .mobile-menu--control {
          @apply hidden xl:block;

          .navbar-nav {
            @apply gap-7;
          }
        }
      }
    }

    &.main-header--dark {
      @apply bg-brand text-white border-none;

      .mobile-button {
        svg {
          rect {
            @apply fill-white stroke-white;
          }
        }
      }

      .navbar {
        .navbar-group {
          .mobile-menu--control {
            .navbar-nav {
              .navbar-nav-item {
                .navbar-nav--link {
                  @apply text-white hover:text-accent;

                  &.active {
                    @apply text-accent;
                  }
                }

                .btn-icon {
                  svg {
                    path {
                      @apply fill-white;
                    }
                  }

                  &:hover {
                    svg {
                      path {
                        @apply fill-accent;
                      }
                    }
                  }

                  .not {
                    @apply bg-success border-brand-dark;
                  }
                }
              }
            }
          }

          .navbar-nav--right {
            .navbar-nav-item {
              & > div {
                & > .btn-icon {
                  @apply px-3 w-auto min-w-min;

                  svg {
                    path {
                      @apply fill-white;
                    }
                  }

                  &:hover {
                    svg {
                      path {
                        @apply fill-accent;
                      }
                    }
                  }

                  .not {
                    @apply bg-success border-brand-dark;
                  }
                }
              }
              & > .btn-icon {
                @apply px-3 w-auto min-w-min;

                svg {
                  path {
                    @apply fill-white;
                  }
                }

                &:hover {
                  svg {
                    path {
                      @apply fill-accent;
                    }
                  }
                }

                .not {
                  @apply bg-success border-brand-dark;
                }
              }
            }
          }
        }
      }
    }

    &.main-header--small {
      .navbar {
        @apply items-start md:items-center;

        .navbar-brand {
          @apply mt-3 md:mt-0;

          span {
            @apply px-0 py-2 md:py-0 md:pl-2;
          }
        }

        .user-box {
          @apply mt-1 md:mt-0;
        }
      }
    }
  }

  .main-header--page {
    @apply w-full pt-5 pb-3 xl:pb-5 xl:pt-7;

    .form-block {
      @apply pb-0;
    }

    .main-header--page---logos {
      @apply flex gap-5 items-center justify-start pt-8;

      .main-header--page---logos----item {
        @apply block;

        img {
          @apply max-h-10 transition-all;
        }

        &:hover img {
          @apply opacity-55;
        }
      }
    }

    .title-big {
      @apply items-center mb-0;
      svg {
        @apply mx-0;
      }
    }

    .lead {
      @apply pt-2;
    }
  }

  .main-footer {
    @apply bg-brand text-accent-light text-sm;

    .main-footer--content {
      @apply flex flex-col md:flex-row gap-2 items-center justify-between py-6;

      .main-footer--content---right {
        @apply w-full md:w-auto;
      }

      .list-legal {
        @apply text-xs md:text-sm;
        li {
          @apply border-accent-light flex-auto;

          a {
            @apply hover:text-accent-lighter;
          }
        }
      }
    }
  }
}
