@tailwind components;

@layer components {
  /* BORRAR */
  .btn-menu-auxiliar {
    @apply fixed bottom-28 right-5;

    z-index: 9999;

    .btn-menu-auxiliar--panel {
      @apply fixed bottom-36 right-5 shadow-md;
    }
  }
  /* timeline */
  .timeline-progress {
    @apply flex flex-col relative mt-4 lg:mt-0;
    &::before {
      content: "";
      @apply absolute block -top-3 -left-[1.3rem] lg:-left-[1.8rem] -right-[1.3rem] lg:-right-[1.8rem] h-6 bg-accent-bg;
    }
    &::after {
      content: "";
      @apply absolute block -bottom-3 -left-[1.3rem] lg:-left-[1.8rem] -right-[1.3rem] lg:-right-[1.8rem] top-0 bg-gradient-to-b from-accent-bg to-white rounded-bl-xl rounded-br-xl z-0 opacity-75;
    }

    .timeline-scroll {
      @apply max-w-full overflow-x-auto pt-7 -mt-7 pb-20 -mb-20 ml-2 mr-2;

      &::-webkit-scrollbar {
        @apply hidden;
      }

      &::-webkit-scrollbar-track {
        @apply hidden;
      }

      &::-webkit-scrollbar-thumb {
        @apply hidden;
      }

      .timeline-scroll--box {
        @apply min-w-[500px];
      }
    }

    .timeline-progres--line {
      @apply absolute left-5 right-5 h-1 bg-[linear-gradient(to_right,_#FAB42D_60%,_rgba(255,_255,_255,_0)_0%)] bg-top bg-[length:20px_2px] bg-repeat-x z-10;

      .timeline-progres--line---start {
        @apply absolute -top-4 -left-10 lg:-left-5 z-10;
      }
      .timeline-progres--line---end {
        @apply absolute -top-4 -right-10 lg:-right-5 z-10;
      }
    }

    .timeline-progres--users {
      @apply relative w-full pb-10 z-20;

      .timeline-progres--users---item {
        @apply absolute -top-6 hover:z-50;

        .timeline-progres--users---item---avatar {
          @apply relative w-12 h-12 rounded-full border border-accent;

          .img-avatar {
            @apply w-full h-full object-cover rounded-full;
          }

          span {
            @apply absolute top-0 -right-2 transform scale-125;
          }
        }
      }
    }

    .inline-list {
      @apply relative z-10 justify-center lg:justify-start flex-wrap gap-1 lg:gap-3;
      .link {
        @apply truncate;
      }
    }
  }

  /* Card */
  .card {
    @apply relative transition-all shadow-none rounded-lg;

    .card-header {
      @apply rounded-lg overflow-hidden relative;

      .card-header--top {
        @apply flex justify-between items-center absolute top-0 left-0 right-0 p-3 z-10;

        .btn-transparent {
          svg {
            path {
              @apply fill-white;
            }
          }
        }

        #save-control {
          @apply mr-1 ml-auto;

          path:nth-child(1) {
            @apply fill-transparent;
          }
          &.active {
            path:nth-child(2) {
              @apply fill-white;
            }
            path:nth-child(1) {
              @apply fill-white;
            }
          }
        }
      }

      .card-header--bottom {
        @apply flex justify-center items-center absolute bottom-0 left-0 right-0 p-3;
      }

      .btn-location {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20;
      }

      .card-status {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-20;
      }

      > img {
        @apply w-full object-cover;
      }

      .card-header--link {
        @apply block bg-brand-dark;

        img {
          @apply transition-all;
        }

        &:hover {
          img {
            @apply opacity-60;
          }
        }
      }
    }

    .card-body {
      @apply px-3 py-2.5;
    }

    &.card-item {
      @apply bg-white max-w-[320px] md:mb-[25%];

      .card-header {
        &::before {
          content: "";
          @apply block absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-t from-transparent to-neutral-dark opacity-30;
        }
      }

      .card-body {
        @apply md:absolute top-full bg-white rounded-br-lg rounded-bl-lg;

        .card-body--display {
          @apply transition-all md:opacity-0 md:h-0;

          .card-body--display---box {
            @apply pt-3 pb-1;
          }

          p {
            @apply text-sm;
          }

          .card-body--display---buttons {
            @apply flex flex-wrap justify-start items-center pt-3 gap-2;

            .btn {
              @apply m-0;
            }
          }
        }
      }

      &:hover {
        @apply shadow-xl z-40;

        .card-header {
          @apply rounded-br-none rounded-bl-none;
        }
        .card-body {
          @apply shadow-xl;

          .card-body--display {
            @apply opacity-100 h-full;
          }
        }
      }
    }

    &.card-stories {
      @apply max-w-52 lg:max-w-none;

      .card-body {
        @apply py-3 px-1;

        .card-title {
          @apply mb-2 text-neutral-light transition-all font-medium;
        }
      }

      &:hover {
        .card-header {
          @apply rounded-lg;
        }

        .card-body {
          @apply shadow-none;

          .card-title {
            @apply text-neutral-dark;
          }

          .badge-default {
            @apply bg-white;
          }
        }
      }

      &.card-stories--big {
        @apply h-[100%] w-full md:w-auto max-w-none;

        .card-header {
          @apply overflow-visible;

          .card-header--media {
            @apply w-auto h-full overflow-visible rounded-xl;

            video,
            img {
              @apply w-auto h-full md:h-[65vh] object-cover md:rounded-xl;
            }
          }

          .card-header--top {
            @apply top-auto bottom-24 md:bottom-0 left-auto md:left-full right-0 md:right-auto flex-col items-center justify-end gap-5;

            .card-header--controls {
              @apply flex flex-col gap-5 items-center justify-center text-white;

              small {
                @apply block text-center text-xs p-1;
              }
            }
          }
        }

        .card-body {
          @apply bg-gradient-to-t from-black/80 md:from-transparent to-transparent absolute md:relative bottom-0 left-0 right-0 p-5 pt-32 md:pt-3 md:pb-3 md:px-1;

          .card-title {
            @apply text-white max-w-[75%] md:max-w-full;
          }
        }
      }
    }

    &.card-post--thumb {
      @apply bg-transparent hover:shadow-none;

      .card-body {
        @apply px-1;

        .title-base {
          @apply text-sm md:text-base leading-4 md:leading-tight text-neutral;
        }
      }

      &:hover {
        .card-header {
          @apply rounded-lg;
        }
      }
    }

    &.disabled {
      .card-header {
        .card-img-thumb {
          @apply opacity-30;
        }
      }
    }
  }

  .aspect-video--superaula {
    @media screen and (max-width: 1600px) {
      max-width: 100%;
      height: auto;
    }
  }

  .aspect-img--superaula {
    @apply flex justify-center items-center;

    img {
      @apply max-w-full;
    }
  }

  .user-info {
    @apply flex gap-5 items-center justify-start;

    .user-info--avatar {
      @apply relative;
      span {
        @apply absolute top-0 -right-2;
      }
    }
  }
  /* Modal */
  .modal {
    @apply fixed inset-0 overflow-y-auto whitespace-normal;
    z-index: 9999;

    .modal-overlay {
      @apply fixed inset-0 bg-black/80;
    }

    .modal-panel {
      @apply relative flex min-h-screen items-center justify-center p-5;

      .modal-panel--box {
        @apply relative w-full max-w-4xl rounded-xl bg-white py-5 px-5 shadow-lg;

        .modal-header {
          @apply flex justify-between items-center pb-3;

          .modal-header--title {
            @apply flex gap-3 items-center text-neutral;

            img,
            svg {
              @apply max-h-6 w-auto;
            }
          }
        }

        .modal-body {
          @apply max-h-[65vh] overflow-y-auto;

          &::-webkit-scrollbar {
            @apply w-2;
          }

          &::-webkit-scrollbar-track {
            @apply bg-neutral-bg rounded-full;
          }

          &::-webkit-scrollbar-thumb {
            @apply bg-neutral-lighter rounded-full hover:bg-neutral-light transition-all;
          }

          .post {
            @apply pr-5;
          }

          iframe {
            @apply rounded-md;
          }
        }
      }
    }

    &.modal-small {
      .modal-panel {
        .modal-panel--box {
          @apply max-w-xl;
        }
      }
    }

    &.modal-form {
      .modal-panel {
        .modal-panel--box {
          .modal-body {
            @apply overflow-y-visible;
          }
        }
      }
    }
    &.modal-accent {
      .modal-overlay {
        @apply bg-accent-dark;
      }

      .modal-panel {
        .modal-panel--box {
          .modal-header {
            .btn-square {
              @apply bg-accent hover:bg-white text-white;

              svg {
                path {
                  @apply fill-white;
                }
              }

              &:hover {
                svg {
                  path {
                    @apply fill-accent-dark;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.modal-full {
      .modal-panel {
        .modal-panel--box {
          .modal-header {
            @apply fixed top-0 left-0 right-0 z-20 justify-end p-5;
          }
        }
      }
    }
  }
  /* Docs */
  .doc {
    @apply flex gap-5 items-center justify-start;

    .doc-header {
      img,
      svg {
        @apply w-full h-auto;
      }
    }

    .doc-title {
      @apply flex flex-col gap-0;
    }

    .doc-buttons {
      @apply flex gap-0 items-center ml-auto -mr-2;

      #save-control {
        path:nth-child(1) {
          @apply fill-transparent;
        }
        path:nth-child(2) {
          @apply fill-neutral-dark;
        }
        &.active {
          path:nth-child(1) {
            @apply fill-neutral-dark;
          }
        }
      }
    }
  }
  /* Lists */
  .list-themes {
    @apply flex flex-col items-start justify-start text-sm max-h-[calc(4*4rem)] overflow-y-auto overflow-x-hidden pr-4 -mr-3;

    &::-webkit-scrollbar {
      @apply w-2;
    }

    &::-webkit-scrollbar-track {
      @apply bg-neutral-bg rounded-full;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-neutral-lighter rounded-full hover:bg-neutral-light transition-all;
    }

    .list-themes--item {
      @apply border-b border-neutral-lighter w-full;

      .list-themes--link {
        @apply flex gap-2 items-start justify-start py-3;
        span {
          @apply -mr-1;
        }

        svg {
          @apply m-0;
        }
      }

      &:last-child {
        @apply border-b-0;
      }

      &.list-themes--item---block {
        .list-themes--link {
          @apply font-semibold;
        }
      }
    }
  }
  /* Chat */
  .chat-panel {
    @apply flex gap-5 h-full w-full flex-col pt-0 md:pt-7;

    .grid {
      @apply h-full;
    }

    .box-sidebar,
    .box-chat {
      @apply h-full rounded-bl-none rounded-br-none border border-neutral-light;

      .box-body {
        @apply h-full relative;
      }
      .box-body--scroll {
        @apply absolute left-0 right-0 overflow-y-auto;

        &::-webkit-scrollbar {
          @apply w-2;
        }

        &::-webkit-scrollbar-track {
          @apply bg-neutral-bg rounded-full;
        }

        &::-webkit-scrollbar-thumb {
          @apply bg-neutral-lighter rounded-full hover:bg-neutral-light transition-all;
        }
      }
    }

    .box-sidebar {
      @apply rounded-tl-none rounded-tr-none md:rounded-tl-xl md:rounded-tr-xl;
      .box-body {
        .box-body--scroll {
          @apply top-16 py-3 -bottom-3 pr-3;
        }
      }
    }

    .box-chat {
      @apply gap-0;

      .box-header {
        @apply relative;

        .btn-icon {
          @apply absolute top-1/2 left-3 transform -translate-y-1/2;
        }
      }

      .box-body {
        .box-body--scroll {
          @apply top-0 bottom-0 p-5 flex flex-col justify-end;
        }
      }
    }

    .chat-panel--messages {
      @apply hidden lg:block;
    }
  }
  /* Filter */
  .filter---display {
    @apply relative;

    .btn-filter {
      @apply absolute -right-3 -top-9 lg:hidden !important;
    }
  }
  .panel {
    .filter---display {
      .btn-filter {
        @apply -top-14 !important;
      }
    }
  }
  /* Post */
  .post {
    @apply gap-5 md:gap-10 mb-10 pb-10 md:mb-16 md:pb-16 relative;

    &:after {
      content: "";
      @apply absolute bottom-0 left-1/4 right-1/4 block h-0.5 bg-neutral-bg grid-cols-1;
    }

    &.post-img-left {
      @apply grid-cols-1 md:grid-cols-[1fr_1fr];
    }

    &.post-img-right {
      @apply grid-cols-1 md:grid-cols-[1fr_1fr];

      .post-header {
        @apply md:order-2;
      }

      .post-body {
        @apply md:order-1;
      }
    }

    .post-header {
      figure {
        img {
          @apply w-full object-cover rounded-lg;
        }
      }
    }

    .post-body {
      @apply flex flex-col gap-3 relative pr-10;

      #save-control {
        @apply absolute top-0 right-0;
        path:nth-child(1) {
          @apply fill-transparent;
        }
        path:nth-child(2) {
          @apply fill-neutral-dark;
        }
        &.active {
          path:nth-child(1) {
            @apply fill-neutral-dark;
          }
        }
      }
    }

    &.post-general {
      @apply mb-0 pb-0;

      .post-body {
        @apply pr-0;

        .image {
          img {
            @apply rounded-lg;
          }
        }
      }
    }

    &:last-child {
      @apply mb-0;

      &:after {
        @apply hidden;
      }
    }
  }
  /* box */
  .box {
    @apply rounded-xl p-5 lg:px-7 lg:pt-7 lg:pb-3 flex flex-col gap-5 border border-neutral-lighter mb-5 transition-all;

    .box-header {
      @apply flex gap-3 items-center;

      .badge-big {
        @apply ml-auto;
      }

      #save-control {
        @apply mr-1 ml-auto;
      }

      &.box-header--form {
        @apply flex-col md:flex-row justify-start md:justify-between items-start md:items-center;

        .form-group {
          @apply md:w-auto mb-0;
        }
      }
    }

    .box-text {
      @apply text-neutral-light text-sm leading-normal;
    }

    .box-body--intro {
      @apply flex flex-col;

      .title-box {
        @apply mb-3;
      }
    }

    .box-body {
      .box-minisection {
        @apply flex flex-col gap-3 mb-8;

        &:last-child {
          @apply mb-0;
        }

        p {
          @apply text-sm md:text-base text-neutral-light;
        }

        .form-block {
          &:last-child {
            @apply mb-0 pb-0 lg:pb-5;
          }
        }
      }
    }

    .box-footer {
      @apply flex items-center justify-between;
    }

    &.box-white {
      @apply border-white bg-white;

      .box-header {
        #save-control {
          path:nth-child(1) {
            @apply fill-transparent;
          }
          path:nth-child(2) {
            @apply fill-neutral-dark;
          }
          &.active {
            path:nth-child(1) {
              @apply fill-neutral-dark;
            }
          }
        }
      }
    }

    &.box-light {
      @apply bg-neutral-bg border-neutral-bg;
    }

    &.box-compact {
      @apply mb-0 p-5 lg:p-5;
    }

    &.box-full {
      @apply h-full justify-center;
    }

    &.box-sidebar {
      .box-header {
        @apply justify-between;
      }
    }

    &.box-chat {
      @apply p-0 overflow-hidden;
      .box-header {
        @apply bg-brand-dark text-white text-center justify-center p-5;
      }

      .box-body {
        @apply flex flex-col flex-1 gap-5 p-5 overflow-y-auto;
      }

      .message-in {
        @apply flex flex-col max-w-xl space-y-2;

        .message-in--name {
          @apply text-sm text-neutral-light;
        }

        &.message-in--me {
          @apply ml-auto justify-end;

          .btn {
            @apply ml-auto;
          }
        }

        &.message-in--you {
          @apply items-start;
        }

        .avatar {
          @apply w-8 h-8 rounded-full;
        }
      }

      .box-chat--input {
        @apply flex gap-3 p-5 items-center justify-start border-t border-neutral-lighter;
      }

      &.box-chat--stories {
        @apply bg-brand-dark;

        .box-header {
          @apply justify-between;
        }
        .box-chat--input {
          @apply border-t-0;
        }

        .box-body {
          .box-body--scroll {
            @apply h-full flex flex-col justify-end gap-3;

            .message-in--name {
              @apply text-white font-medium;
            }

            .message {
              @apply text-white text-sm;

              &.message-me {
                @apply bg-brand p-2 rounded-tl-xl rounded-tr-xl rounded-bl-xl;
              }
            }
          }
        }
      }

      &.box-chat--superaula {
        .box-body {
          @apply min-h-96;
        }
      }
    }

    &.box-inline {
      @apply flex md:flex-row items-center p-3 gap-3 !important;

      .link {
        @apply whitespace-nowrap;
      }
    }

    .box {
      @apply mb-0 p-0 md:p-5 border-transparent md:border-neutral-lighter;
    }

    .splide {
      &::before {
        @apply bg-gradient-to-r from-white to-transparent !important;
      }

      &::after {
        @apply bg-gradient-to-l from-white to-transparent !important;
      }

      .splide__track {
        &::after,
        &::before {
          @apply bg-white;
        }
      }
    }

    &.box-list--item {
      @apply flex flex-row gap-3 items-center justify-start w-full text-start p-3 border-transparent hover:bg-neutral-bg;

      .date {
        @apply text-sm text-neutral-light;
      }

      .title-base {
        @apply font-semibold mr-auto;
      }

      .btn {
        @apply w-auto px-3 rounded-md;
      }

      .thumb {
        @apply max-h-12 w-auto;
      }

      &.active {
        @apply bg-neutral-bg;
      }

      &.disabled {
        .title-base {
          @apply text-neutral-light font-normal text-sm;
        }
      }
    }

    &.tabpanels--item {
      @apply border border-neutral-lighter rounded-md mb-0 px-0 lg:px-5 border-transparent lg:border-neutral-lighter;

      &.tabpanels--item---horizontal {
        @apply rounded-tl-none;
      }
    }

    &.box-collapse {
      @apply relative;
    }

    &.box-accordion {
      @apply p-5;
    }

    &.box-foro {
      .box-header {
        @apply flex flex-col md:flex-row gap-3 md:gap-5 justify-between items-start w-full;

        .user-info {
          @apply w-full;
        }

        .box-header--time {
          @apply flex-auto;

          span {
            @apply whitespace-nowrap;
          }
        }
      }

      .box-body {
        @apply text-sm;
      }

      .box-footer {
        @apply flex gap-5 md:pb-3 flex-col md:flex-row justify-between items-center;

        .inline-list {
          @apply ml-0 mr-auto h-full;
        }

        .btn-modal {
          @apply w-full md:w-auto text-center justify-center;
        }

        .modal-special--control {
          @apply w-full md:w-auto;
        }
      }
    }

    &.box-av {
      @apply p-5 gap-3 bg-neutral-bg/75 h-full;

      .box-body {
        p {
          @apply text-sm;
        }
      }

      .box-footer {
        @apply justify-end mt-auto;
      }
    }
  }
  /*Accordion*/
  .grid-superaula--sidebar---accordion {
    .grid-superaula--sidebar---accordion-header {
      @apply flex gap-3 items-center justify-between cursor-pointer bg-neutral-lighter px-5 py-3;

      .grid-superaula--sidebar---accordion-header-title {
        @apply flex flex-col gap-1;
      }
    }

    .grid-superaula--sidebar---accordion-body {
      @apply px-5 py-2.5;
    }
  }
  .superaula-i-link {
    @apply flex gap-3 items-center justify-start text-sm py-2.5;

    .superaula-i-link--text {
      @apply text-neutral-light;
    }
    .check {
      @apply w-3.5 h-3.5 rounded-sm border border-2 border-neutral-lighter flex justify-center items-center;

      img,
      svg {
        @apply opacity-0 transform scale-150;
      }
    }

    &.active {
      .superaula-i-link--text {
        @apply text-neutral-dark;
      }

      .check {
        @apply border-success;

        img,
        svg {
          @apply opacity-100;
        }
      }
    }

    &:hover {
      .superaula-i-link--text {
        @apply text-neutral-dark;
      }
    }
  }
  /*Tooltip*/
  .tooltip {
    @apply absolute p-3 rounded-xl border-neutral-lighter bg-white shadow-lg flex flex-col gap-2 text-neutral-light text-sm min-w-40;

    &::before {
      content: "";
      @apply absolute block w-3 h-3 bg-white transform rotate-45 -top-1 left-1/2 -ml-1.5;
    }

    p {
      @apply mb-0;
    }

    .tooltip-title {
      @apply font-semibold text-accent-dark;
    }

    .tooltip-date {
      @apply uppercase text-tiny;
    }

    .tooltip-number {
      @apply font-semibold text-tiny;
    }

    .tooltip-footer {
      @apply flex justify-between items-center gap-2;
    }

    &.tooltip-center {
      @apply left-1/2 transform -translate-x-1/2;
    }

    &.tooltip-bottom {
      @apply top-full;
    }
  }
  /* button */
  .mobile-button {
    @apply relative inline-flex items-center justify-start xl:hidden w-10 h-10;

    svg {
      @apply stroke-brand transition-all;
    }
  }
  /* alerts */
  .alert {
    @apply flex flex-col md:flex-row gap-5 rounded-xl p-5 border border-neutral-lighter h-full mb-3 lg:mb-5;

    .alert-header {
      img {
        @apply rounded-xl md:max-w-[208px];
      }
    }

    .alert-body {
      @apply flex flex-col gap-2 text-neutral-light text-sm w-full;

      .alert-title--box {
        @apply flex gap-3 items-center justify-start mb-3 mt-1;

        svg {
          @apply m-0;
        }
      }

      .alert-title {
        @apply text-neutral-dark;
      }

      .alert-ui {
        @apply flex gap-3 items-center justify-start;
      }

      .alert-link {
        @apply flex items-center h-full;
      }

      .alert-info {
        @apply flex flex-col items-center justify-center gap-5 pt-5;
      }
    }

    &.alert-success {
      @apply bg-success-bg border-success-bg;

      .mini-info {
        svg {
          path {
            @apply fill-success;
          }
        }
      }
    }

    &.alert-warning {
      @apply bg-accent-bg border-accent-bg;

      .mini-info {
        svg {
          path {
            @apply fill-accent;
          }
        }
      }
    }

    &.alert-info {
      @apply bg-brand-bg border-brand-bg;
    }

    &.alert-banner {
      @apply bg-neutral-bg border-neutral-bg;

      .alert-body {
        @apply items-center justify-center w-full;
      }
    }

    &.alert-warning--light {
      @apply bg-accent-bg/75 border-accent-bg/50 text-accent;

      p {
        @apply text-accent mb-0 text-sm;
      }

      .mini-info {
        svg {
          path {
            @apply fill-accent-dark;
          }
        }
      }
    }

    &.alert-danger {
      @apply bg-danger-bg/50 border-danger-bg/10 text-danger-dark;

      p {
        @apply text-danger-dark mb-0 text-sm;
      }

      .mini-info {
        svg {
          path {
            @apply fill-danger-dark;
          }
        }
      }
    }

    &.alert-big {
      @apply md:py-5 md:px-10 md:gap-10;
    }

    &:last-child {
      @apply mb-0 lg:mb-0;
    }
  }
  /* progress */
  .c-progress {
    @apply flex flex-col gap-5;
    .c-progress--bar {
      @apply h-3 bg-neutral-bg rounded-full;

      .c-progress--bar-info {
        @apply h-3 rounded-s-full relative bg-brand-dark;

        &::after {
          content: "";
          @apply absolute -top-3 -bottom-3 right-0 w-1 border-r border-dashed border-r-brand-dark;
        }

        &.c-progress--bar-success {
          @apply bg-success;

          &::after {
            @apply border-r-success;
          }
        }
      }
    }

    .c-progress--data {
      @apply flex justify-between text-xs text-neutral-light;
    }
  }
  /*buttons*/
  .btn {
    @apply flex gap-3 font-medium rounded-xl text-base px-3 lg:px-5 py-2 lg:py-3  transition-all text-center items-center justify-center leading-tight relative cursor-pointer;

    .not {
      @apply block w-2 h-2 bg-danger rounded-full absolute top-0 right-0 border border-white;
    }
    img {
      @apply w-auto;
    }

    svg {
      @apply transition-all m-0;

      path {
        @apply fill-neutral;
      }
    }

    &:hover {
      svg {
        path {
          @apply fill-accent;
        }
      }
    }

    &.btn-full {
      @apply w-full justify-center py-3;
    }

    &.btn-full--mobile {
      @apply w-full lg:w-auto justify-center py-3 lg:py-3;
    }

    &.btn-small {
      @apply text-sm font-light px-2 py-1.5;
    }

    &.btn-icon {
      @apply rounded-full min-w-12 w-12 h-12 p-0 flex items-center justify-center;

      .not {
        @apply right-2.5 top-3;
      }

      &.btn-icon--compact {
        @apply gap-0;
      }

      &.btn-icon--table {
        @apply rounded-lg h-11 w-full max-w-16;
      }
    }

    &.btn-accent {
      @apply bg-accent text-brand-dark hover:bg-neutral-dark hover:text-white focus:bg-neutral-dark focus:text-accent;

      &.is--lighter {
        @apply bg-accent-lighter hover:bg-neutral-dark;
      }

      &.is--bg {
        @apply text-white bg-accent-light hover:bg-neutral-dark;
      }

      svg {
        path {
          @apply fill-neutral-dark;
        }
      }

      &:hover,
      &:focus {
        svg {
          path,
          rect {
            @apply fill-accent;
          }
        }
      }
    }

    &.btn-accent--line {
      @apply bg-transparent border border-accent text-neutral hover:bg-accent hover:text-white;
    }

    &.btn-brand--line {
      @apply bg-transparent border border-brand-bg text-brand-lighter hover:bg-brand hover:text-white;

      &.no-hover {
        @apply bg-transparent border border-brand-bg text-brand-lighter;
      }

      svg {
        path,
        circle {
          @apply fill-brand-bg;
        }
      }

      &.active {
        @apply bg-brand text-white;
      }
    }

    &.btn-icon--small {
      @apply w-9 h-9 p-0 flex items-center justify-center m-0;

      &:hover {
        svg {
          path {
            @apply fill-accent-dark;
          }
        }
      }
    }

    &.btn-dark {
      @apply bg-brand text-white hover:bg-brand-light;

      svg {
        path {
          @apply fill-white;
        }
      }

      &:hover {
        svg {
          path {
            @apply fill-accent;
          }
        }
      }

      &.is--accent {
        svg {
          path {
            @apply fill-accent;
          }
        }
      }
    }

    &.btn-light {
      @apply text-neutral-light border border-solid border-neutral-lighter hover:border-neutral-light;
    }

    &.btn-danger {
      @apply bg-danger text-white hover:bg-danger-dark;
    }

    &.btn-control {
      @apply absolute top-14 z-10 hidden xl:flex;

      &.btn-control--prev {
        @apply left-0 transform -translate-x-16;
      }

      &.btn-control--next {
        @apply right-0 transform translate-x-16;
      }
    }

    &.btn-transparent {
      @apply bg-transparent p-0 m-0;
    }

    &.btn-square {
      @apply bg-neutral-bg rounded-md p-0 w-10 h-10 hover:bg-neutral-lighter items-center justify-center;

      svg,
      img {
        @apply w-3;

        path {
          @apply fill-neutral-light;
        }
      }

      &.btn-dark {
        @apply bg-brand hover:bg-accent;
        svg {
          path {
            @apply fill-white;
          }
        }
      }

      &.is-small {
        @apply w-7 h-7 min-w-7 font-semibold;
      }
    }

    &.btn-grid--collapse {
      @apply absolute bg-neutral-lighter left-[9px] mt-14 px-1 py-2.5 rounded-tr-none rounded-br-none w-auto h-auto z-40 hover:bg-accent hidden lg:block min-w-min;

      &:hover {
        svg {
          path {
            @apply fill-white;
          }
        }
      }

      &.btn-grid--collapsed {
        @apply -left-[21px] bg-white hover:bg-accent-dark;
      }
    }

    &.message-me {
      @apply bg-accent-bg justify-start text-start font-normal lg:px-3 lg:py-2;
    }

    &.message-you {
      @apply border border-neutral-lighter justify-start text-start font-normal lg:px-3;
    }

    &.disabled {
      @apply grayscale opacity-35 cursor-auto;
    }

    &#save-control {
      svg {
        path {
          &:nth-child(1) {
            @apply fill-transparent;
          }
        }
      }

      &.active {
        svg {
          path {
            &:nth-child(1) {
              @apply fill-neutral-dark;
            }
            &:nth-child(2) {
              @apply fill-neutral-dark;
            }
          }
        }
      }
    }

    &.btn-slider-control {
      svg {
        transform: rotate(0deg);
      }

      &.active {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &.btn-left {
      @apply justify-start;
    }
  }
  /* badge */
  .list-badge {
    @apply flex gap-1 items-center justify-start text-xs text-neutral-light;
  }

  .badge {
    @apply text-xs font-medium px-1 py-0.5 rounded-lg inline-flex items-center justify-start gap-1 border border-neutral-lighter text-neutral-light tracking-tight;

    &.badge-big {
      @apply text-custom-xl font-semibold rounded-lg px-3 py-2;
    }

    &.badge-number {
      @apply text-base px-3 py-2;
    }

    &.badge-square {
      @apply text-lg font-semibold rounded-lg py-2.5 px-4;
    }

    &.badge-medium {
      @apply text-sm;
    }

    &.badge-dark {
      @apply bg-brand text-white border-transparent;
    }

    &.badge-brand {
      @apply bg-brand-bg text-brand border-brand-bg;
    }

    &.badge-success {
      @apply bg-success-bg text-success border-success-bg;
    }

    &.badge-transparent {
      @apply border-transparent pl-0;
    }

    &.badge-accent {
      @apply bg-accent-bg text-accent-dark border-accent-bg;
    }

    &.badge-danger {
      @apply bg-danger-bg text-danger-dark border-danger-bg;
    }

    &.badge-light {
      @apply bg-neutral-bg text-neutral-light border-neutral-bg;

      strong {
        @apply text-neutral-dark;
      }
    }
  }
  /* progress */
  .progress {
    @apply w-full bg-white bg-opacity-50 rounded-full h-1.5 overflow-hidden;

    .progress-bar {
      @apply h-1.5;
    }

    &.progress-green {
      .progress-bar {
        @apply bg-green-400;
      }
    }

    &.progress-big {
      @apply bg-neutral-bg py-1 px-2 rounded-md h-auto mt-3 flex gap-3 items-center min-h-8;

      .progress-bar--box {
        @apply bg-white rounded-sm overflow-hidden flex-1;

        .progress-bar {
          @apply h-3;
        }
      }
    }
  }
  /* navbar nav */
  .navbar-nav {
    @apply flex gap-10;

    .navbar-nav-item {
      .btn-icon {
        margin: 0;
      }

      .navbar-nav--link {
        @apply transition-all text-neutral hover:text-accent flex gap-3 justify-start items-start;

        svg,
        img {
          @apply m-0 w-5;
        }
      }
    }

    &.navbar-nav--right {
      @apply gap-0 items-center;

      .navbar-nav-item--responsive {
        @apply hidden xl:flex;
      }
    }

    &.navbar-nav--mobile {
      @apply flex-col gap-5;

      .navbar-nav-item {
        .navbar-nav--link {
          @apply text-white hover:text-accent;

          &.active {
            @apply text-accent;
          }
        }
      }
    }
  }
  /* user box */
  .user-box {
    @apply relative xl:ml-5;

    .user-box--button {
      @apply flex gap-4 items-center cursor-pointer border border-neutral-lighter hover:border-accent-lighter rounded-full pl-0 xl:pl-1 pr-0 xl:pr-4 py-0 xl:py-1 transition-all bg-white text-neutral-dark;

      .user-box--button---img {
        @apply relative;

        span {
          @apply absolute top-0 -right-1/4;
        }
      }

      .user-box--button---info {
        @apply flex flex-col gap-0 hidden xl:flex;

        .user-box--button---info---name {
          @apply font-bold -mb-1;
        }

        .user-box--button---info---subname {
          @apply text-sm;
        }
      }
    }

    .user-box--modal {
      @apply flex flex-col fixed sm:absolute top-0 sm:top-9 xl:top-12 right-0 h-screen sm:h-auto w-screen sm:w-80 bg-white shadow-lg sm:rounded-lg overflow-hidden p-5 origin-top-right border border-neutral-lighter;

      .user-box--modal---scroll {
        @apply max-h-full overflow-y-auto;
      }

      .user-box--modal---section {
        @apply border-b border-neutral-lighter;

        .user-box--modal---section----header {
          @apply flex justify-start items-center;

          span {
            @apply font-bold text-base md:text-lg pt-3 text-neutral-dark;
          }
        }
      }

      .user-box--modal---intro {
        @apply flex gap-3 items-center relative;

        .user-box--modal---user----avatar {
          @apply w-12 h-12 relative;

          span {
            @apply absolute top-0 right-0 transform scale-125;
          }
        }

        .user-box--modal---user---info {
          @apply flex flex-col gap-0;

          .user-box--modal---user---info---name {
            @apply font-bold text-lg -mb-1 text-neutral-dark;
          }

          .user-box--modal---user---info---subname {
            @apply text-sm text-neutral-dark;
          }
        }

        .user-box--modal---close {
          @apply absolute -top-5 -right-5;

          .btn-close {
            @apply opacity-30 hover:opacity-100;

            svg {
              path {
                @apply fill-neutral !important;
              }
            }
          }
        }
      }

      .user-box--modal---logos {
        @apply flex flex-wrap gap-3 items-center sm:justify-center pt-3 mb-3;

        img {
          @apply w-auto h-10;
        }
      }

      .user-box--modal---menu {
        @apply flex-col gap-0 py-3 md:py-4 px-0 m-0;

        .navbar-nav-item {
          .navbar-nav--link {
            @apply py-2 px-2 text-neutral rounded-md hover:bg-accent-bg hover:text-neutral-dark !important;
            &:hover {
              svg {
                path {
                  @apply fill-accent;
                }
              }
            }

            &.active {
              @apply text-accent-dark hover:bg-transparent;

              svg {
                path {
                  @apply fill-accent;
                }
              }
            }
          }
        }
      }

      .user-box--modal---footer {
        @apply flex justify-start items-center gap-3 pt-4;

        .btn {
          @apply m-0;
        }
      }
    }
  }
  /* tabs */
  .tabpanels-header {
    @apply border-b border-neutral-lighter flex justify-between items-center;

    .tabpanels-header--scroll {
      @apply overflow-x-auto max-w-[80vw];
    }
  }
  .tab-list {
    @apply flex gap-0;

    .tab-list--item {
      @apply flex-1;

      .tab-list--link {
        @apply flex flex-wrap w-full text-sm items-center justify-start bg-white border-b border-neutral-lighter text-neutral-light p-5 transition-all relative hover:font-semibold hover:bg-white hover:bg-opacity-55 hover:text-neutral;

        &:hover {
          @apply font-semibold bg-white bg-opacity-55;
        }

        &.active {
          @apply font-semibold text-base text-brand-lighter bg-transparent;
        }

        &:before {
          content: "";
          @apply absolute block bg-brand-lighter transition-all;
        }
      }

      &:last-child {
        .tab-list--link {
          @apply border-b-0;
        }
      }
    }

    &.tab-list--vertical {
      @apply flex-col flex-wrap;

      .tab-list--item {
        .tab-list--link {
          &:before {
            @apply top-0 left-0 bottom-0 w-0;
          }
          &.active {
            &:before {
              @apply w-0.5;
            }
          }
        }
      }
    }

    &.tab-list--horizontal {
      @apply inline-flex flex-row justify-start mb-0;

      .tab-list--item {
        @apply flex flex-auto w-auto;

        .tab-list--link {
          @apply justify-center min-h-16;
          &:before {
            @apply right-0 left-0 bottom-0 h-0;
          }
          &.active {
            &:before {
              @apply h-0.5;
            }
          }
        }
      }
    }

    &.tab-list--tab {
      .tab-list--item {
        .tab-list--link {
          @apply min-h-min py-4;

          &.active {
            @apply bg-neutral-bg;
          }
        }
      }
    }

    &.tab-list--horizontal--superaula {
      .tab-list--item {
        .tab-list--link {
          @apply border-0 whitespace-nowrap py-0 min-h-12;

          &.active {
            @apply bg-brand-bg/20;
          }
        }
      }
    }

    &.tab-display {
      @apply hidden lg:inline-flex;
      &.tab-list--vertical {
        @apply hidden lg:flex;
      }
    }
  }

  .tabpanels--item {
    &.tabpanels--item---superaula {
      @apply py-5;
    }

    .tabpanels--item--section {
      @apply mb-5;

      .tabpanels--item--section---header {
        @apply flex flex-col gap-1 mb-3;

        p {
          @apply text-sm;
        }
      }

      .tabpanels--item--section---footer {
        @apply flex flex-col md:flex-row justify-between items-center gap-3;

        .form-group {
          @apply md:w-auto min-w-72 max-w-full mb-0;
        }

        .modal-special--control {
          @apply w-full md:w-auto;
        }

        .btn-modal {
          @apply w-full md:w-auto;
        }
      }
    }
  }

  /* Table */
  .box-overflow--table {
    @apply overflow-x-auto max-w-full;

    &::-webkit-scrollbar {
      @apply w-2;
    }

    &::-webkit-scrollbar-track {
      @apply bg-neutral-bg rounded-full;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-neutral-lighter rounded-full hover:bg-neutral-light transition-all;
    }
  }

  .table-date {
    @apply w-full border-none text-left;

    thead {
      th {
        @apply border-none text-sm text-neutral-dark font-semibold py-3 px-2 whitespace-nowrap;

        &.final-item {
          @apply text-center justify-center;
        }
      }
    }

    tbody {
      tr {
        @apply border-b border-neutral-bg;
      }
      td {
        @apply border-none text-sm text-neutral-light py-3 px-2 whitespace-nowrap;

        &.final-item {
          @apply text-center justify-center;
        }

        &.small-item {
          @apply text-right;

          .btn {
            @apply ml-auto;
          }
        }
      }
    }

    &.table-date--line {
      @apply rounded-tl-lg rounded-tr-md overflow-hidden;
      thead {
        @apply overflow-hidden bg-neutral-bg;

        th {
          @apply py-2;
        }
      }

      tbody {
        @apply border border-neutral-bg;

        td {
          @apply py-2 border-b border-neutral-bg;
        }
      }
    }
  }

  /* mobile menu */
  .mobile-menu-panel {
    @apply fixed top-0 left-0 w-full h-full bg-brand-dark;

    z-index: 9999;

    .mobile-menu-panel--header {
      @apply flex justify-between py-1.5 px-2.5 border-b border-b-brand-light;

      .btn-icon {
        .not {
          @apply bg-success;
        }
        svg {
          path {
            @apply fill-white;
          }
        }

        &:hover {
          svg {
            path {
              @apply fill-accent;
            }
          }
        }
      }
    }

    .mobile-menu-panel--body {
      @apply p-5;
    }
  }
  /* mobile chat menu */
  .mobile-chat-panel {
    @apply fixed top-0 left-0 w-full h-full bg-white;

    z-index: 9999;

    .mobile-chat-panel--header {
      @apply hidden;
    }

    .mobile-chat-panel--body {
      @apply p-0 h-full;

      .box-chat {
        @apply rounded-none border-0 p-0;
      }
    }
  }
  /* Slide */
  .splide {
    @apply relative;

    &::after,
    &::before {
      content: "";
      @apply hidden md:block absolute top-0 bottom-0 z-10 w-8;
    }

    &::before {
      @apply -left-8 bg-gradient-to-r from-white to-transparent;
    }

    &::after {
      @apply right-0 w-20 bg-gradient-to-l from-white to-transparent;
    }

    .splide__track {
      @apply relative overflow-visible;

      &::after,
      &::before {
        content: "";
        @apply hidden md:block absolute top-0 bottom-0 z-10 bg-white;
      }

      &::after {
        right: -9999px;
        left: 100%;
      }

      &::before {
        left: -9999px;
        right: calc(100% + 2rem);
      }
    }

    .splide__list {
      .splide__slide {
        @apply pr-2 pl-2;

        .card-item {
          .card-body {
            @apply transition-all md:opacity-0;
          }
        }

        &.is-active,
        &.is-visible {
          .card-item {
            .card-body {
              @apply opacity-100;
            }
          }
        }
      }
    }

    .splide__arrows {
      @apply hidden md:block;

      .splide__arrow {
        @apply top-24 w-10 h-10 z-20 bg-brand opacity-100 transition-all hover:bg-brand-dark hover:opacity-100 cursor-pointer;

        &[disabled] {
          @apply opacity-0;
        }

        &.splide__arrow--prev {
          @apply -left-10;
        }

        &.splide__arrow--next {
          @apply -right-10;
        }

        svg {
          @apply transition-all fill-white w-3 h-3;
        }

        &:hover {
          svg {
            @apply fill-accent;
          }
        }
      }
    }

    &:hover {
      @apply z-50;
    }

    &.splide-mini {
      @apply -mr-5 -ml-5 mb-0;

      &::before {
        @apply left-0;
      }

      .splide__arrows {
        .splide__arrow {
          @apply bg-accent w-8 h-8 top-24;

          svg {
            @apply fill-brand w-3;
          }

          &.splide__arrow--prev {
            @apply left-2;
          }

          &.splide__arrow--next {
            @apply right-2;
          }
        }
      }

      .splide__track {
        @apply overflow-x-hidden pb-6 pl-3 !important;

        overflow: hidden;
        &::after,
        &::before {
          @apply content-none;
        }
      }

      .card {
        &.card-item {
          @apply hover:shadow-sm mb-0;
          .card-body {
            @apply relative;

            .card-body--display {
              @apply hidden;
            }
          }
        }
      }
    }
    &.splide-stories {
      .splide__arrows {
        .splide__arrow {
          @apply top-1/2;
        }
      }
    }
    &.splide-absolute {
      @apply md:pb-5;
    }
    &.splide-full {
      @apply fixed md:relative top-0 left-0 md:z-10 bg-brand-dark md:bg-transparent w-full h-full;

      &::after,
      &::before {
        @apply hidden;
      }

      .splide__track {
        &::after,
        &::before {
          @apply hidden;
        }
      }

      .splide__slide {
        @apply flex items-start justify-center px-0 py-0 md:py-7;
      }
    }
    &.splide-superaula {
      @apply w-full h-full relative z-10;

      &::after,
      &::before {
        @apply hidden;
      }

      .splide__track {
        @apply overflow-hidden;

        &::after,
        &::before {
          @apply hidden;
        }

        .splide__list {
          .splide__slide {
            @apply pr-0 pl-0 max-h-[600px];

            .container {
              @media screen and (max-width: 1600px) {
                max-width: inherit;
                width: 100%;
              }
            }
  
            @media screen and (max-width: 767px) {
              max-height: 320px;
            }

            .splide__slide-box {
              @apply hidden lg:flex w-full h-full mt-5 pt-3 pb-10 pr-5 flex-col items-start justify-start overflow-y-auto;

              .box {
                @apply w-full;
              }

              &::-webkit-scrollbar {
                @apply w-2;
              }
    
              &::-webkit-scrollbar-track {
                @apply bg-neutral-bg rounded-full;
              }
    
              &::-webkit-scrollbar-thumb {
                @apply bg-neutral-lighter rounded-full hover:bg-neutral-light transition-all;
              }
            }
          }
        }
      }

      .splide__arrows {
        @apply hidden md:block;
  
        .splide__arrow {
          @apply top-1/2 w-8 h-16 bg-accent hover:bg-brand-dark rounded-full;
  
          &.splide__arrow--prev {
            @apply left-0 rounded-tl-none rounded-bl-none;
          }
  
          &.splide__arrow--next {
            @apply right-0 rounded-tr-none rounded-br-none;
          }
  
          svg {
            
          }
        }
      }
    }
  }
  /* Form */
  .formcontrol {
    @apply relative text-neutral flex w-full items-center px-2 py-3 rounded-lg text-sm mb-0 transition-all text-left leading-tight border border-neutral-lighter focus:outline-none  bg-transparent min-h-12;

    .formcontrol-text {
      @apply w-full flex items-center;
    }

    &.formcontrol-select {
      @apply w-full pr-12;
    }

    &.formcontrol-filter {
      @apply font-bold;
    }

    .formcontrol-icon {
      @apply w-7 h-7 p-2 absolute top-1/2 right-2 transform -translate-y-1/2 bg-neutral-bg rounded-md hover:bg-neutral-lighter;
    }

    &.formcontrol-feature {
      @apply font-bold text-brand-lighter;
    }

    &.formcontrol-transparent {
      @apply border-transparent text-neutral-dark placeholder:text-neutral-dark;
    }

    &.formcontrol-accent {
      @apply bg-accent border-accent;

      .formcontrol-icon {
        @apply bg-accent-light;

        path {
          @apply fill-neutral-dark;
        }
      }
    }

    &.formcontrol-big {
      @apply text-lg;
    }

    &.formcontrol-small {
      @apply text-sm md:text-base h-auto py-2 min-h-2 border-2 border-brand-bg;
    }
  }
  .formcontrol-datepicker {
    @apply relative w-full;
    .formcontrol-icon {
      @apply w-7 h-7 p-2 absolute top-1/2 right-2 transform -translate-y-1/2 bg-neutral-bg rounded-md hover:bg-neutral-lighter;
    }
  }
  .form-group {
    @apply flex gap-3 bg-white rounded-lg mb-5 border border-x-neutral-lighter p-0 w-full;

    .formcontrol {
      @apply rounded-md border-transparent focus:border-transparent hover:border-transparent active:border-transparent focus:outline-none focus:ring-0;
    }

    .btn-icon {
      @apply rounded-md min-w-12;
    }

    &:last-child {
      @apply mb-0;
    }

    &.formcontrol-group--transparent {
      @apply border-transparent;
    }

    &.form-group--dark {
      @apply bg-brand border-brand;

      .formcontrol {
        @apply text-white;
      }

      .btn-icon {
        svg {
          path {
            @apply fill-white;
          }
        }

        &:hover {
          svg {
            path {
              @apply fill-accent;
            }
          }
        }
      }
    }
  }

  .dropdown {
    @apply relative w-full;

    &.dropdown--tab {
      @apply absolute -top-9 md:-top-11 right-2 w-auto lg:hidden;

      .formcontrol-show {
        @apply left-auto right-0 w-auto rounded-md;

        li {
          .tab-list--link {
            @apply whitespace-nowrap;
          }
        }
      }
    }

    .formcontrol-show {
      top: calc(100% - 0.3rem);
      @apply absolute z-40 w-full bg-white border border-neutral-lighter rounded-lg rounded-tl-none rounded-tr-none;

      li {
        @apply text-neutral-light hover:text-neutral text-sm py-2 px-3 cursor-pointer flex gap-2 items-center;

        .checkbox {
          @apply w-3.5 h-3.5 rounded-md flex items-center justify-center !important;
        }
      }
    }

    &.dropdown-accent {
      .formcontrol {
        @apply bg-accent border-accent;

        .formcontrol-icon {
          @apply bg-accent-light;

          path {
            @apply fill-neutral-dark;
          }
        }
      }

      .formcontrol-show {
        @apply bg-accent border-accent;

        li {
          @apply text-neutral-dark hover:opacity-45;
        }
      }
    }
  }

  .radio-group {
    @apply flex gap-3 items-center cursor-pointer;

    .radio-group--text {
      @apply text-neutral text-base;
    }

    .radio-group--option {
      @apply flex w-4 h-4 rounded-full border border-neutral-light items-center justify-center cursor-pointer ml-1.5;

      .radio-group--option---selected {
        @apply w-2 h-2 rounded-full bg-accent;
      }
    }

    &:hover {
      .radio-group--text {
        @apply text-neutral-dark;
      }
    }

    &.radio-group-image {
      @apply flex-col justify-start items-start gap-3 mb-3;

      .radio-group-group {
        @apply flex gap-2 items-center justify-start;

        .radio-group--option {
          @apply ml-1;
        }
      }

      .radio-image--content {
        @apply max-w-full rounded-lg object-cover border border-transparent;

        &.selected {
          @apply border-neutral-dark;
        }
      }
    }
  }

  .flatpickr-current-month,
  .flatpickr-monthDropdown-months {
    @apply gap-5 flex;

    .flatpickr-monthDropdown-months,
    .cur-year {
      @apply text-xs font-bold text-neutral-dark bg-neutral-bg rounded-lg p-1 flex-1 !important;
    }
  }

  .flatpickr-day {
    &.selected,
    &.startRange {
      &.startRange,
      &.endRange {
        @apply rounded-full;

        &::before {
          content: "";
          @apply absolute block top-0 bottom-0 bg-success-bg -z-10;
        }
      }
      &.startRange {
        &::before {
          @apply left-1.5 -right-2 rounded-tl-full rounded-bl-full;
        }
      }
      &.endRange {
        &::before {
          @apply right-1.5 -left-2 rounded-tl-none rounded-bl-none rounded-tr-full rounded-br-full;
        }
      }
    }

    &.selected {
      @apply bg-success-lighter border-transparent text-success-dark hover:bg-success hover:border-transparent;
    }

    &.inRange {
      @apply bg-success-bg text-success shadow-[inset_-5px_0_0_border-success-bg,inset_5px_0_0_border-success-bg] border-success-bg;

      &::before {
        content: "";
        @apply absolute block top-0 bottom-0 -left-5 -right-5 bg-success-bg -z-10;
      }
    }
  }

  .form-line {
    @apply flex flex-col md:flex-row gap-2 items-center font-semibold text-brand-lighter text-sm md:text-base text-center md:text-left;

    .formcontrol {
      @apply w-auto inline-block;
    }
  }

  .dragDrop-panel {
    @apply flex flex-col items-center space-y-5 p-5;

    .dragDrop-panel--row {
      @apply flex space-x-4;

      .dragDrop-panel--col {
        @apply flex flex-col space-y-4;
      }
    }
  }
}
