@tailwind components;

@layer components {
  /* BORRAR */
  .btn-menu-auxiliar {
    @apply fixed bottom-5 right-5;

    z-index: 9999;

    .btn-menu-auxiliar--panel {
      @apply fixed bottom-10 right-5 shadow-md;
    }
  }
  /* Card */
  .card {
    @apply relative transition-all shadow-none rounded-lg;

    .card-header {
      @apply rounded-lg overflow-hidden relative;

      .card-header--top {
        @apply flex justify-between items-center absolute top-0 left-0 right-0 p-3 z-10;

        .btn-transparent {
          svg {
            path {
              @apply fill-white;
            }
          }
        }

        #save-control {
          @apply mr-1 ml-auto;

          path:nth-child(1) {
            opacity: 0;
          }
          &.active {
            path:nth-child(1) {
              opacity: 1;
            }
          }
        }
      }

      .card-header--bottom {
        @apply flex justify-center items-center absolute bottom-0 left-0 right-0 p-3;
      }

      .btn-location {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30;
      }

      .card-status {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-20;
      }

      img {
        @apply w-full object-cover;
      }

      .card-header--link {
        @apply block bg-brand-dark;

        img {
          @apply transition-all;
        }

        &:hover {
          img {
            @apply opacity-60;
          }
        }
      }
    }

    .card-body {
      @apply px-3 py-2.5;
    }

    &.card-item {
      @apply bg-white max-w-[320px] md:mb-[25%];

      .card-header {
        &::before {
          content: "";
          @apply block absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-t from-transparent to-neutral-dark opacity-30;
        }
      }

      .card-body {
        @apply md:absolute top-full bg-white rounded-br-lg rounded-bl-lg;

        .card-body--display {
          @apply transition-all md:opacity-0 md:h-0;

          .card-body--display---box {
            @apply pt-3 pb-1;
          }

          p {
            @apply text-sm;
          }

          .card-body--display---buttons {
            @apply flex flex-wrap justify-start items-center pt-3 gap-2;

            .btn {
              @apply m-0;
            }
          }
        }
      }

      &:hover {
        @apply shadow-xl z-40;

        .card-header {
          @apply rounded-br-none rounded-bl-none;
        }
        .card-body {
          @apply shadow-xl;

          .card-body--display {
            @apply opacity-100 h-full;
          }
        }
      }
    }

    &.card-stories {
      .card-body {
        @apply bg-transparent px-1;

        .card-title {
          @apply mb-2 text-neutral-light transition-all;
        }
      }

      &:hover {
        .card-header {
          @apply rounded-lg;
        }

        .card-body {
          @apply shadow-none;

          .card-title {
            @apply text-neutral-dark;
          }

          .badge-default {
            @apply bg-white;
          }
        }
      }
    }

    &.card-post--thumb {
      @apply bg-transparent hover:shadow-none;

      .card-body {
        @apply px-1;

        .title-base {
          @apply text-sm md:text-base leading-4 md:leading-tight text-neutral;
        }
      }

      &:hover {
        .card-header {
          @apply rounded-lg;
        }
      }
    }

    &.disabled {
      .card-header {
        .card-img-thumb {
          @apply opacity-30;
        }
      }
    }
  }
  /* Modal */
  .modal {
    @apply fixed inset-0 z-10 overflow-y-auto;

    .modal-overlay {
      @apply fixed inset-0 bg-black/25;
    }

    .modal-panel {
      @apply relative flex min-h-screen items-center justify-center p-5;

      .modal-panel--box {
        @apply relative w-full max-w-4xl rounded-md bg-white pt-3 pb-5 px-5 shadow-lg;

        .modal-header {
          @apply flex justify-between items-center pb-3;

          .modal-header--title {
            @apply flex gap-3 items-center;

            img,
            svg {
              @apply max-h-6 w-auto;
            }
          }
        }
      }
    }
  }
  /* Docs */
  .doc {
    @apply flex gap-5 items-center justify-start;

    .doc-header {
      img,
      svg {
        @apply w-full h-auto;
      }
    }

    .doc-title {
      @apply flex flex-col gap-0;
    }

    .doc-buttons {
      @apply flex gap-0 items-center ml-auto -mr-2;

      #save-control {
        path:nth-child(1) {
          @apply fill-transparent;
        }
        path:nth-child(2) {
          @apply fill-neutral-dark;
        }
        &.active {
          path:nth-child(1) {
            @apply fill-neutral-dark;
          }
        }
      }
    }
  }
  /* Lists */
  .list-themes {
    @apply flex flex-col items-start justify-start text-sm max-h-[calc(4*4rem)] overflow-y-auto overflow-x-hidden pr-4 -mr-3;

    /* Estilizar scrollbar - Webkit (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      @apply w-2;
    }

    &::-webkit-scrollbar-track {
      @apply bg-neutral-bg rounded-full;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-neutral-lighter rounded-full hover:bg-neutral-light transition-all;
    }

    .list-themes--item {
      @apply border-b border-neutral-lighter w-full;

      .list-themes--link {
        @apply flex gap-2 items-start justify-start py-3;
        span {
          @apply -mr-1;
        }

        svg {
          @apply m-0;
        }
      }

      &:last-child {
        @apply border-b-0;
      }

      &.list-themes--item---block {
        .list-themes--link {
          @apply font-semibold;
        }
      }
    }
  }
  /* Chat */
  .chat-panel {
    @apply flex h-svh gap-5;
  }
  /* Filter */
  .filter---display {
    @apply relative;

    .btn-filter {
      @apply absolute right-0 -top-10 lg:hidden !important;
    }
  }

  .panel {
    .filter---display {
      .btn-filter {
        @apply -top-14 !important;
      }
    }  
  }

  /* Post */
  .post {
    @apply gap-5 md:gap-10 mb-10 pb-10 md:mb-16 md:pb-16 relative;

    &:after {
      content: "";
      @apply absolute bottom-0 left-1/4 right-1/4 block h-0.5 bg-neutral-bg grid-cols-1;
    }

    &.post-img-left {
      @apply grid-cols-1 md:grid-cols-[1fr_1fr];
    }

    &.post-img-right {
      @apply grid-cols-1 md:grid-cols-[1fr_1fr];

      .post-header {
        @apply md:order-2;
      }

      .post-body {
        @apply md:order-1;
      }
    }

    .post-header {
      figure {
        img {
          @apply w-full object-cover rounded-lg;
        }
      }
    }

    .post-body {
      @apply flex flex-col gap-3 relative pr-10;

      #save-control {
        @apply absolute top-0 right-0;
        path:nth-child(1) {
          @apply fill-transparent;
        }
        path:nth-child(2) {
          @apply fill-neutral-dark;
        }
        &.active {
          path:nth-child(1) {
            @apply fill-neutral-dark;
          }
        }
      }
    }
  }
  /* box */
  .box {
    @apply rounded-xl p-5 flex flex-col gap-5 border border-neutral-lighter mb-5;

    .box-header {
      @apply flex gap-3 items-center;

      .badge-big {
        @apply ml-auto;
      }

      #save-control {
        @apply mr-1 ml-auto;
      }
    }

    .box-footer {
      @apply flex items-center justify-between;
    }

    &.box-white {
      @apply border-white bg-white;

      .box-header {
        #save-control {
          path:nth-child(1) {
            @apply fill-transparent;
          }
          path:nth-child(2) {
            @apply fill-neutral-dark;
          }
          &.active {
            path:nth-child(1) {
              @apply fill-neutral-dark;
            }
          }
        }
      }
    }

    &.box-light {
      @apply bg-neutral-bg border-neutral-bg;
    }

    &.box-compact {
      @apply mb-0;
    }

    &.box-full {
      @apply h-full justify-center;
    }

    &.box-sidebar {
      .box-header {
        @apply justify-between;
      }
    }

    .box {
      @apply mb-0 p-0 md:p-5 border-transparent md:border-neutral-lighter;
    }

    .splide {
      &::before {
        @apply bg-gradient-to-r from-white to-transparent !important;
      }

      &::after {
        @apply bg-gradient-to-l from-white to-transparent !important;
      }

      .splide__track {
        &::after,
        &::before {
          @apply bg-white;
        }
      }
    }
  }
  /* button */
  .mobile-button {
    @apply relative inline-flex items-center justify-start xl:hidden w-10 h-10;

    svg {
      @apply stroke-brand transition-all;
    }
  }
  /* alerts */
  .alert {
    @apply flex flex-col md:flex-row gap-5 rounded-xl p-5 border border-neutral-lighter h-full;

    .alert-header {
      img {
        @apply rounded-xl md:max-w-[208px];
      }
    }

    .alert-body {
      @apply flex flex-col gap-2 text-neutral-light text-sm;

      .alert-title--box {
        @apply flex gap-3 items-center justify-start mb-3 mt-1;

        svg {
          @apply m-0;
        }
      }

      .alert-title {
        @apply text-neutral-dark;
      }
    }

    &.alert-success {
      @apply bg-success-bg border-success-bg;
    }

    &.alert-big {
      @apply md:p-10 md:gap-10;
    }
  }
  /* progress */
  .c-progress {
    @apply flex flex-col gap-5;
    .c-progress--bar {
      @apply h-3 bg-neutral-bg rounded-full;

      .c-progress--bar-info {
        @apply h-3 rounded-s-full relative bg-brand-dark;

        &::after {
          content: "";
          @apply absolute -top-3 -bottom-3 right-0 w-1 border-r border-dashed border-r-brand-dark;
        }

        &.c-progress--bar-success {
          @apply bg-success;

          &::after {
            @apply border-r-success;
          }
        }
      }
    }

    .c-progress--data {
      @apply flex justify-between text-xs text-neutral-light;
    }
  }
  /*buttons*/
  .btn {
    @apply flex gap-1 font-medium rounded-xl text-base px-3 lg:px-5 py-2 lg:py-3  transition-all text-center leading-tight relative;

    .not {
      @apply block w-2 h-2 bg-danger rounded-full absolute top-0 right-0 border border-white;
    }
    img {
      @apply w-auto;
    }

    svg {
      @apply transition-all;

      path {
        @apply fill-neutral;
      }
    }

    &:hover {
      svg {
        path {
          @apply fill-accent;
        }
      }
    }

    &.btn-small {
      @apply text-sm font-light px-2 py-1.5;
    }

    &.btn-icon {
      @apply rounded-full w-12 h-12 p-0 flex items-center justify-center;

      .not {
        @apply right-2.5 top-3;
      }
    }

    &.btn-accent {
      @apply bg-accent hover:bg-neutral-dark hover:text-white focus:bg-neutral-dark focus:text-accent;

      &.is--lighter {
        @apply bg-accent-lighter hover:bg-neutral-dark;
      }

      svg {
        path {
          @apply fill-neutral-dark;
        }
      }

      &:hover,
      &:focus {
        svg {
          path,
          rect {
            @apply fill-accent;
          }
        }
      }
    }

    &.btn-accent--line {
      @apply bg-transparent border border-accent text-neutral hover:bg-accent hover:text-white;
    }

    &.btn-icon--small {
      @apply w-9 h-9 p-0 flex items-center justify-center m-0;

      &:hover {
        svg {
          path {
            @apply fill-accent-dark;
          }
        }
      }
    }

    &.btn-dark {
      @apply bg-black hover:bg-gray-800;
    }

    &.btn-light {
      @apply text-neutral-light border border-solid border-neutral-lighter hover:border-neutral-light;
    }

    &.btn-control {
      @apply absolute top-14 z-10 hidden xl:flex;

      &.btn-control--prev {
        @apply left-0 transform -translate-x-16;
      }

      &.btn-control--next {
        @apply right-0 transform translate-x-16;
      }
    }

    &.btn-transparent {
      @apply bg-transparent p-0 m-0;
    }

    &.btn-square {
      @apply bg-neutral-bg rounded-md p-0 w-10 h-10 hover:bg-neutral-lighter;

      svg,
      img {
        @apply w-3;

        path {
          @apply fill-neutral-light;
        }
      }
    }
  }
  /* badge */
  .badge {
    @apply text-xs font-medium px-1 py-0.5 rounded-lg inline-flex items-center justify-start gap-1 border border-neutral-lighter text-neutral-light tracking-tight;

    &.badge-big {
      @apply text-custom-xl font-semibold rounded-lg px-3 py-2;
    }

    &.badge-medium {
      @apply text-sm;
    }

    &.badge-dark {
      @apply bg-gray-950 bg-opacity-50 text-white border-transparent;
    }

    &.badge-brand {
      @apply bg-brand-bg text-brand border-brand-bg;
    }

    &.badge-success {
      @apply bg-success-bg text-success border-success-bg;
    }

    &.badge-transparent {
      @apply border-transparent pl-0;
    }
  }
  /* progress */
  .progress {
    @apply w-full bg-white bg-opacity-50 rounded-full h-1.5 overflow-hidden;

    .progress-bar {
      @apply h-1.5;
    }

    &.progress-green {
      .progress-bar {
        @apply bg-green-400;
      }
    }
  }
  /* navbar nav */
  .navbar-nav {
    @apply flex gap-10;

    .navbar-nav-item {
      .btn-icon {
        margin: 0;
      }

      .navbar-nav--link {
        @apply transition-all text-neutral hover:text-accent flex gap-3 justify-start items-start;

        svg,
        img {
          @apply m-0 w-5;
        }
      }
    }

    &.navbar-nav--right {
      @apply gap-0 items-center;

      .navbar-nav-item--responsive {
        @apply hidden xl:flex;
      }
    }

    &.navbar-nav--mobile {
      @apply flex-col gap-5;

      .navbar-nav-item {
        .navbar-nav--link {
          @apply text-white hover:text-accent;

          &.active {
            @apply text-accent;
          }
        }
      }
    }
  }
  /* user box */
  .user-box {
    @apply relative;

    .user-box--button {
      @apply flex gap-4 items-center cursor-pointer border border-neutral-lighter hover:border-accent-lighter rounded-full pl-0 xl:pl-1 pr-0 xl:pr-4 py-0 xl:py-1 transition-all;

      .user-box--button---img {
        @apply relative;

        span {
          @apply absolute top-0 -right-1/4;
        }
      }

      .user-box--button---info {
        @apply flex flex-col gap-0 hidden xl:flex;

        .user-box--button---info---name {
          @apply font-bold -mb-1;
        }

        .user-box--button---info---subname {
          @apply text-sm;
        }
      }
    }

    .user-box--modal {
      @apply fixed sm:absolute top-0 sm:top-9 xl:top-12 right-0 h-screen sm:h-auto w-screen sm:w-80 bg-white shadow-lg rounded-lg overflow-hidden p-5 z-10 origin-top-right border border-neutral-lighter;

      .user-box--modal---section {
        @apply border-b border-neutral-lighter;

        .user-box--modal---section----header {
          @apply flex justify-start items-center;

          span {
            @apply font-bold text-base md:text-lg pt-3;
          }
        }
      }

      .user-box--modal---intro {
        @apply flex gap-3 items-center relative;

        .user-box--modal---user----avatar {
          @apply w-12 h-12 relative;

          span {
            @apply absolute top-0 right-0 transform scale-125;
          }
        }

        .user-box--modal---user---info {
          @apply flex flex-col gap-0;

          .user-box--modal---user---info---name {
            @apply font-bold text-lg -mb-1;
          }

          .user-box--modal---user---info---subname {
            @apply text-sm;
          }
        }

        .user-box--modal---close {
          @apply absolute -top-5 -right-5;

          .btn-close {
            @apply opacity-30 hover:opacity-100;
          }
        }
      }

      .user-box--modal---logos {
        @apply flex flex-wrap gap-3 items-center justify-center pt-3 mb-3;

        img {
          @apply w-auto h-10;
        }
      }

      .user-box--modal---menu {
        @apply flex-col gap-0 py-3 md:py-4 px-0 m-0;

        .navbar-nav-item {
          .navbar-nav--link {
            @apply py-2 px-2 rounded-md hover:bg-accent-bg hover:text-neutral-dark;
            &:hover {
              svg {
                path {
                  @apply fill-accent;
                }
              }
            }

            &.active {
              @apply text-accent-dark hover:bg-transparent;

              svg {
                path {
                  @apply fill-accent;
                }
              }
            }
          }
        }
      }

      .user-box--modal---footer {
        @apply flex justify-start items-center gap-3 pt-4;

        .btn {
          @apply m-0;
        }
      }
    }
  }
  /* mobile menu */
  .mobile-menu-panel {
    @apply fixed top-0 left-0 w-full h-full bg-brand-dark;

    z-index: 9999;

    .mobile-menu-panel--header {
      @apply flex justify-between py-1.5 px-2.5 border-b border-b-brand-light;

      .btn-icon {
        .not {
          @apply bg-success;
        }
        svg {
          path {
            @apply fill-white;
          }
        }

        &:hover {
          svg {
            path {
              @apply fill-accent;
            }
          }
        }
      }
    }

    .mobile-menu-panel--body {
      @apply p-5;
    }
  }
  /* Slide */
  .splide {
    @apply relative;

    &::after,
    &::before {
      content: "";
      @apply hidden md:block absolute top-0 bottom-0 z-10 w-8;
    }

    &::before {
      @apply -left-8 bg-gradient-to-r from-white to-transparent;
    }

    &::after {
      @apply right-0 w-20 bg-gradient-to-l from-white to-transparent;
    }

    .splide__track {
      @apply relative overflow-visible;

      &::after,
      &::before {
        content: "";
        @apply hidden md:block absolute top-0 bottom-0 z-10 bg-white;
      }

      &::after {
        right: -9999px;
        left: 100%;
      }

      &::before {
        left: -9999px;
        right: calc(100% + 2rem);
      }
    }

    .splide__list {
      .splide__slide {
        @apply pr-2 pl-2;

        .card-item {
          .card-body {
            @apply transition-all md:opacity-0;
          }
        }

        &.is-active,
        &.is-visible {
          .card-item {
            .card-body {
              @apply opacity-100;
            }
          }
        }
      }
    }

    .splide__arrows {
      @apply hidden md:block;

      .splide__arrow {
        @apply top-24 w-10 h-10 z-20 bg-brand opacity-100 transition-all hover:bg-brand-dark hover:opacity-100 cursor-pointer;

        &[disabled] {
          @apply opacity-0;
        }

        &.splide__arrow--prev {
          @apply -left-10;
        }

        &.splide__arrow--next {
          @apply -right-10;
        }

        svg {
          @apply transition-all fill-white w-3 h-3;
        }

        &:hover {
          svg {
            @apply fill-accent;
          }
        }
      }
    }

    &:hover {
      @apply z-50;
    }

    &.splide-mini {
      @apply -mr-5 -ml-5;

      &::before {
        @apply left-0;
      }

      .splide__arrows {
        .splide__arrow {
          @apply bg-accent w-8 h-8 top-24;

          svg {
            @apply fill-brand w-3;
          }

          &.splide__arrow--prev {
            @apply left-2;
          }

          &.splide__arrow--next {
            @apply right-2;
          }
        }
      }

      .splide__track {
        @apply overflow-x-hidden -mb-6 pb-6 pl-3 !important;

        overflow: hidden;
        &::after,
        &::before {
          @apply content-none;
        }
      }

      .card {
        &.card-item {
          @apply hover:shadow-sm;
          .card-body {
            @apply relative;

            .card-body--display {
              @apply hidden;
            }
          }
        }
      }
    }
    &.splide-stories {
      .splide__arrows {
        .splide__arrow {
          @apply top-1/2;
        }
      }
    }
    &.splide-absolute {
      @apply md:pb-5;
    }
  }
  /* Form */
  .dropdown {
    @apply relative w-full;
  }
  .formcontrol {
    @apply relative text-neutral flex w-full px-2 py-3 rounded-lg text-sm mb-0 transition-all text-left leading-tight border border-neutral-lighter focus:outline-none focus:ring-1 focus:ring-neutral-lighter bg-transparent;

    &.formcontrol-select {
      @apply w-full pr-12 focus:rounded-br-none focus:rounded-bl-none;
    }

    &.formcontrol-filter {
      @apply font-bold;
    }

    .formcontrol-icon {
      @apply w-7 h-7 p-2 absolute top-1/2 right-2 transform -translate-y-1/2 bg-neutral-bg rounded-md hover:bg-neutral-lighter;
    }
  }
  .formcontrol-datepicker {
    @apply relative w-full;
    .formcontrol-icon {
      @apply w-7 h-7 p-2 absolute top-1/2 right-2 transform -translate-y-1/2 bg-neutral-bg rounded-md hover:bg-neutral-lighter;
    }
  }
  .form-group {
    @apply flex gap-3 bg-white p-1 rounded-lg mb-5;

    .formcontrol {
      @apply rounded-md border-transparent focus:border-transparent hover:border-transparent active:border-transparent;
    }

    .btn-icon {
      @apply rounded-md min-w-12;
    }
  }
  .formcontrol-show {
    @apply absolute z-20 w-full bg-white border border-neutral-lighter rounded-lg rounded-tl-none rounded-tr-none;

    li {
      @apply text-neutral-light hover:text-neutral text-sm py-2 px-3 cursor-pointer flex gap-2 items-center;

      .checkbox {
        @apply w-3.5 h-3.5 rounded-md flex items-center justify-center !important;
      }
    }
  }

  .flatpickr-current-month,
  .flatpickr-monthDropdown-months {
    @apply gap-5 flex;

    .flatpickr-monthDropdown-months,
    .cur-year {
      @apply text-xs font-bold text-neutral-dark bg-neutral-bg rounded-lg p-1 flex-1 !important;
    }
  }

  .flatpickr-day {
    &.selected,
    &.startRange {
      &.startRange,
      &.endRange {
        @apply rounded-full;

        &::before {
          content: "";
          @apply absolute block top-0 bottom-0 bg-success-bg -z-10;
        }
      }
      &.startRange {
        &::before {
          @apply left-1.5 -right-2 rounded-tl-full rounded-bl-full;
        }
      }
      &.endRange {
        &::before {
          @apply right-1.5 -left-2 rounded-tl-none rounded-bl-none rounded-tr-full rounded-br-full;
        }
      }
    }

    &.selected {
      @apply bg-success-lighter border-transparent text-success-dark hover:bg-success hover:border-transparent;
    }

    &.inRange {
      @apply bg-success-bg text-success shadow-[inset_-5px_0_0_border-success-bg,inset_5px_0_0_border-success-bg] border-success-bg;

      &::before {
        content: "";
        @apply absolute block top-0 bottom-0 -left-5 -right-5 bg-success-bg -z-10;
      }
    }
  }
}
